/**
 * @bem atom-icon Icon
 * @parent styleguide-atoms
 * @depends shared-vars
 *
 * @iframe demos/atoms/icon/icon.html
 * @iframe demos/atoms/icon/icon.demo.html
 */
@import "blacklane-apollo/assets";

@import "../../shared/vars";

/**
 * @sassvar Icon padding
 */
$icon-padding: $spacer / 4;

@mixin icon($pos: after) {
  background-position: if($pos == after, right, left) center;
  background-repeat: no-repeat;
  content: " ";
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;

  @if($pos == after) {
    right: $icon-padding;
  }

  @if($pos == before) {
    left: $icon-padding;
  }

  text-align: center;
  top: 0;
}

/**
 * @bemblock Icon (after the element)
 */
.icon-after {
  display: inline-block;
  position: relative;

  &:after {
    @include icon(after);
  }

  /**
   * @bemmodifier Chevron down icon
   */
  &--chevron-down {
    padding-right: $icon-padding * 2 + 0.8rem;

    &:after {
      background-image: asset-url("blacklane-apollo/images/chevron-down.svg");
      width: 0.8rem;

      .navigation__element:hover & {
        background-image: asset-url("blacklane-apollo/images/chevron-down-black.svg");
      }
    }
  }

  /**
   * @bemmodifier Chevron down black icon
   */
  &--chevron-down-black {
    padding-right: $icon-padding * 2 + 0.8rem;

    &:after {
      background-image: asset-url("blacklane-apollo/images/chevron-down-black.svg");
      width: 0.8rem;
    }
  }

  /**
   * @bemmodifier Chevron down blue icon
   */
  &--chevron-down-blue {
    padding-right: $icon-padding * 2 + 0.8rem;

    &:after {
      background-image: asset-url("blacklane-apollo/images/chevron-down-blue.svg");
      width: 0.8rem;
    }
  }

  /**
   * @bemmodifier Chevron up&down icon
   */
  &--chevron-up-down {
    padding-right: $icon-padding * 2 + 0.6rem;

    &:after {
      background-image: asset-url("blacklane-apollo/images/chevron-up-down.svg");
      width: 0.6rem;

      .navigation__element:hover & {
        background-image: asset-url("blacklane-apollo/images/chevron-up-down-black.svg");
      }
    }
  }

  /**
   * @bemmodifier Double chevron pointing to the right icon
   */
  &--chevron-double-right {
    padding-right: $icon-padding * 2 + 0.6rem;

    &:after {
      background-image: asset-url("blacklane-apollo/images/double-arrow-right.svg");
      width: 0.6rem;
    }
  }

  /**
   * @bemmodifier Black left-pointing triangle
   */
  &--arrow-left {
    height: $icon-padding * 4;
    width: $icon-padding * 4;

    &:after {
      content: "◀";
    }
  }

  /**
   * @bemmodifier Black right-pointing triangle
   */
  &--arrow-right {
    height: $icon-padding * 4;
    width: $icon-padding * 4;

    &:after {
      content: "▶";
    }
  }
}

/**
 * @bemblock Icon (before the element)
 */
.icon-before {
  display: inline-block;
  position: relative;

  &:before {
    @include icon(before);
  }

  /**
   * @bemmodifier Passengers icon
   */
  &--passengers {
    padding-left: $icon-padding * 2 + 1.25rem;

    &:before {
      background-image: asset-url("blacklane-apollo/images/person.svg");
      width: 1.25rem;
    }
  }

  /**
   * @bemmodifier Baggage icon
   */
  &--baggage {
    padding-left: $icon-padding * 2 + 1.25rem;

    &:before {
      background-image: asset-url("blacklane-apollo/images/suitcase.svg");
      width: 1.25rem;
    }
  }
}
