mixin icon(position, icon)
  -
    position = position ? '-' + position : ''
    icon = icon ? '--' + icon : ''
  div(class= 'icon' + position, class= 'icon' + position + icon, class!=attributes['class'])
    block
