include ../../atoms/select/select.pug

mixin dropdown(dropdownData)
  - dropdownData = dropdownData || {}
  #{dropdownData.redirectOnSelection ? "form" : "div"}.dropdown(
    action=dropdownData.a11yAction
    style=dropdownData.darkBackground ? 'background-color: black' : ''
    class=dropdownData.asInputField ? 'dropdown--input-field' : ''
    class=dropdownData.options && dropdownData.options.length > 10 ? 'dropdown--long-list': ''
    class!=attributes['class']
  )
    label.accessibility(for=dropdownData.id)= dropdownData.label || dropdownData.placeholder
    .dropdown__value(
      aria-hidden=true,
      class=dropdownData.icon ? 'icon-after icon-after--' + dropdownData.icon : ''
      class=dropdownData.reverseColours ? 'dropdown__value--reverse' : ''
      class=dropdownData.asInputField ? 'dropdown__value--input-field input' : ''
      class!=attributes['value-class']
    )= dropdownData.placeholder
    -
      var selectClasses = 'dropdown__select'
      if ( attributes[ 'select-class' ] ) {
        selectClasses += ' ' + attributes[ 'select-class' ]
      }
    +select(dropdownData.options)(
      id=dropdownData.id
      name=dropdownData.name
      class=selectClasses
      data-placeholder=dropdownData.placeholder
      data-redirect= !!dropdownData.redirectOnSelection
    )
    if dropdownData.redirectOnSelection
      noscript <input type='submit' value='Go'>
