include ./dropdown
-
  var dropdownData = {
  darkBackground: darkBackground,
  action: action,
  icon: icon,
  reverseColours: reverseColours,
  placeholder: placeholder,
  id: id,
  name: name,
  options: options
  }
+dropdown(dropdownData)
