/**
 * @bem molecule-dropdown Dropdown
 * @parent styleguide-molecules
 * @depends shared-vars, atom-form, atom-icon, atom-select
 *
 * @iframe demos/molecules/dropdown/dropdown.demo.html
 * @iframe demos/molecules/dropdown/dropdown.html
 */
@import "blacklane-apollo/assets";
@import "foundation";

@import "../../shared/vars";

@import "../../atoms/form/form";
@import "../../atoms/icon/icon";
@import "../../atoms/select/select";

/**
 * @bemblock Dropdown
 */
.dropdown {
  display: inline-block;
  padding: 0;
  position: relative;

  /**
   * @bemmodifier As input field
   */
  &--input-field {
    width: 100%;
  }

  /**
   * @bemelement Value
   */
  &__value {
    box-sizing: border-box;
    color: $primary-blue-main;
    cursor: pointer;
    position: relative;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    word-wrap: break-word;
    z-index: 1;

    /**
     * @bemmodifier As input field
     */
    &--input-field {
      @include input;

      background: $white;
      width: 100%;
    }

    /**
     * @bemmodifier Reversed colour schema
     */
    &--reverse {
      color: inherit;

      @include breakpoint(medium) {
        &:hover, li {
          color: $primary-black-main;
        }
      }
    }
  }

  /**
   * @bemelement Select box
   */
  &__select {
    appearance: menulist-button;
    cursor: pointer;
    font-size: 0.75em;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.chosen-single,
.chosen-container-single-nosearch .chosen-search {
  display: none;
}

.chosen-container-single {
  appearance: none;
  user-select: none;
  z-index: 2;
  zoom: 1;
}

.chosen-container-active {
  opacity: 1;
}

.chosen-drop {
  background: #fff;
  border-top: 0;
  box-shadow: 0 4px 5px rgba(#000, 0.15);
  display: none;
  min-width: 100%;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;

  .chosen-container-active &, .chosen-with-drop & {
    display: block;
  }
}

.chosen-results {
  list-style-type: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  text-align: left;
  white-space: nowrap;

  .dropdown--long-list & {
    height: $spacer * 5;
  }

  li {
    color: $primary-black-main;
    min-height: $spacer;
    padding: 0 ($spacer / 2);

    &:hover {
      background: $primary-blue-main;
      color: $white;
      cursor: pointer;
    }
  }
}

.chosen-search input {
  @include input;

  background: #fff asset-url("blacklane-apollo/images/chosen-sprite@2x.png") no-repeat right -29px;
  background-size: auto 150%;
  padding-right: $spacer * 2;
}
