/**
 * @bem molecule-time-input Time input
 * @parent styleguide-molecules
 * @depends shared-vars, atom-form, atom-select
 *
 * Time input component used to replace the native one whenever necessary (e.g.: when no UI picker interface is provided).
 *
 * @iframe demos/molecules/time-input/time-input.demo.html
 * @iframe demos/molecules/time-input/time-input.html
 */
@import "foundation";

@import "../../shared/vars";

@import "../../atoms/form/form";
@import "../../atoms/select/select";

.time-input {
  &__select-box {
    @include grid-col($columns: 50%, $gutter: 0);

    & + & {
      margin-left: $spacer / 2;
    }
  }
}
