include ../../atoms/input-field/input-field.pug
include ../../atoms/select/select.pug

mixin timeInput(field, shrinkIfBig, replace)
  -
    function getOptionsLists(selectedTime, step) {
      var selectedValue = ( selectedTime || '' ).split( ':' ),
      selectedHour = Number(selectedValue[0]),
      selectedMinute = Number(selectedValue[1]),
      hour = 0,
      minute = 0,
      hourOptions = [],
      minuteOptions = [];
      while (hour < 24) {
        var hourToShow = hour < 10 ? '0' + hour : hour;
        var amPmHour = hour % 12;
        var amPmHourToShow = ( amPmHour === 0 ? 12 : amPmHour ) + ' ' + ( hour < 12 ? 'AM' : 'PM' );
        hourOptions.push({
          value: hourToShow,
          isSelected: hour === selectedHour,
          label: hourToShow + ' (' + amPmHourToShow + ')'
        });
        hour++;
      }
      while ( minute < 60 ) {
        var minuteToShow = minute < 10 ? '0' + minute : minute;
        minuteOptions.push({
          value: minuteToShow,
          isSelected: minute === selectedMinute,
          label: minuteToShow
        });
        minute += step / 60;
      }

      return {
        hours: hourOptions,
        minutes: minuteOptions
      }
    }

    field = field || {}
    if ( !field.name && attributes.name ) {
      field.name = attributes.name
    }
    if ( !field.id && attributes.id ) {
      field.id = attributes.id
    }
    field.type = 'time'
    field.step = field.step || 60

    var optionLists = getOptionsLists(field.value, field.step)
  +inputFieldContainer(field, shrinkIfBig)
    if !replace || replace === 'keepBoth'
      +inputElement(field)&attributes(attributes)
    if replace || replace === 'keepBoth'
      +select(optionLists.hours)(
        class='time-input__select-box hidden--small'
        id=field.id + '-hours'
      )
      +select(optionLists.minutes)(
        class='time-input__select-box hidden--small'
        id=field.id + '-minutes'
      )
