mixin panoramaContainer(background, isHero)
  -
    background = background || {}
    var backgroundSrc = background.src || ( typeof ( background ) === 'string' ? background : '' )
    var backgroundhiResSrc = background && background.hiResSrc || ''
    var backgroundId = backgroundSrc.replace(/\W/g, '')
    var imageSet = ''
    var absoluteRegexp = new RegExp('^(http:|https:)?(\/\/)')

    backgroundSrc = backgroundSrc && backgroundSrc.search(absoluteRegexp) < 0 ? assetsPrefix + backgroundSrc : backgroundSrc
    backgroundhiResSrc = backgroundhiResSrc && backgroundhiResSrc.search(absoluteRegexp) < 0 ? assetsPrefix + backgroundhiResSrc : backgroundhiResSrc

    if ( backgroundId ) {
      imageSet = '.panorama--' + backgroundId + ' {'
      imageSet += backgroundSrc ? 'background-image: url("' + backgroundSrc + '");' : ''
      if (backgroundhiResSrc) {
        ['-webkit-', '-moz-', '-o-', '-ms-', ''].forEach(function(prefix){
        imageSet += 'background-image: ' + prefix + 'image-set(url("' + backgroundSrc + '") 1x, url("' + backgroundhiResSrc + '") 2x);'
        })
        imageSet += '} @media screen and (min-width: 820px) { .panorama--' + backgroundId + ' { background-image: url("' + backgroundhiResSrc + '"); } }'
      } else {
        imageSet += '} '
      }
    }
  .panorama(
    class=isHero ? 'panorama--hero' : ''
    class=!backgroundSrc ? 'panorama--no-background' : ''
    class=background && background.isFixed ? 'panorama--fixed' : ''
    class=backgroundId ? `panorama--${backgroundId}` : ''
  )&attributes(attributes)
    if backgroundId
      style(scoped)
        | !{imageSet} }
    block

mixin panoramaTitle(title, type)
  -
    title = typeof title === 'string' ? {
      content: title
    } : title
    var baseClass = type === 'sub' ? 'panorama__subtitle' : 'panorama__title'
  #{attributes.tag ? attributes.tag : 'div'}(
    id=attributes.id
    class=baseClass
    class=title && title.reverseColours ? baseClass + '--reverse' : ''
    class=title && title.hero ? baseClass + '--hero' : ''
    class!=attributes[ 'class' ]
  )
    if title && title.content
      | !{title.content}
    else if block
      block

mixin panoramaContent()
  .panorama__content(class!=attributes[ 'class' ])
    block

mixin panorama(background, title, subtitle)
  +panoramaContainer(background, title && title.hero)(
    class!=attributes[ 'container-class' ]
    aria-labelledby!=attributes[ 'title-id' ]
  )
    if title
      +panoramaTitle(title)(
        tag=attributes[ 'title-tag' ]
        id=attributes[ 'title-id' ]
        class=attributes[ 'title-class' ]
      )
    if subtitle
      +panoramaTitle(subtitle, 'sub')(class!=attributes[ 'subtitle-class' ])
    if block
      +panoramaContent(class=attributes[ 'content-class' ])
        block
