include ./panorama

+panorama(background, title)
  if body
    div(style="background: white")= body
if _doublePanorama
  +panorama(background, title)
    if body
      div(style="background: white")= body
