/**
 * @bem molecule-panorama Panorama
 * @parent styleguide-molecules
 * @depends shared-vars, shared-responsive-grid, shared-typography
 *
 * Panorama molecule renders a container with a background (no default, it has to be specified inline), and an optional,
 * centered, title, and generic empty container.
 *
 * @iframe demos/molecules/panorama/panorama.demo.html
 * @iframe demos/molecules/panorama/panorama.html
 */
@import "foundation";

@import "../../shared/responsive-grid";
@import "../../shared/typography";
@import "../../shared/vars";

/**
 * @bemblock Panorama
 *
 * It defines the basic style for a panorama container.
 */
.panorama {
  background: transparent no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $spacer;
  min-height: $spacer * 4;
  padding: $spacer 0;
  width: 100%;

  @include breakpoint(wide) {
    min-height: $spacer * 10;
  }


  /**
   * @bemmodifier No background
   *
   * In case a panorama block has no background, the grid row gets applied to the panorama container. If there is a background, thus this class doesn't get applied, the main grid row will be at [panorama-title], [panorama-content] level.
   *
   * If it's followed by another no-background panorama, there will be a "border" (it's a fake one, actually, as it's done using the pseudo element ::before, so paddings are safe to use). Last but not least, in order to balance the spacing between these two backgroundless panorama blocks, a top padding is added to the second panorama's first child.
   */
  &--no-background {
    @include responsive-grid-row;

    @include breakpoint(wide) {
      min-height: 0;
    }


    & + .panorama--no-background {
      &:before {
        height: 1px;
        content: " ";
        width: 100%;
        order: 0;
        background: $gray-border;
      }

      & > *:first-child {
        padding-top: $spacer;
      }
    }
  }

  /**
   * @bemmodifier Huge
   */
  &--huge {
    min-height: $spacer * 15;

    @include breakpoint(wide) {
      min-height: $spacer * 20;
    }
  }

  /**
   * @bemmodifier Hero
   */
  &--hero {
    justify-content: flex-end;
    min-height: $spacer * 15;

    @include breakpoint(wide) {
      min-height: $spacer * 20;
    }
  }

  /**
   * @bemmodifier Fixed
   *
   * Background gets fixed to the viewport
   */
  &--fixed {
    background-attachment: fixed;
    background-size: cover;
  }

  /**
   * @bemelement Content
   *
   * Optional element. It inherits style from [mixin-responsive-grid-row].
   */
  &__content,
  &__title,
  &__subtitle {
    @include responsive-grid-row;

    .panorama--no-background & {
      @include responsive-grid-row($nested: true);
    }
  }

  &__title,
  &__subtitle {
    text-align: center;

    /**
     * @bemmodifier Reversed colour schema
     * @parent panorama-title
     *
     * This modifier is valid for both [panorama-title] and [panorama-subtitle].
     */
    &--reverse {
      color: $white;
    }

    /**
     * @bemmodifier Hero kind of title
     * @parent panorama-title
     *
     * Applies the hero typeface, reverse colour schema and it's bottom-aligned.
     */
    &--hero {
      @include heading($level: deco);
      align-items: flex-end;
      color: $white;
    }
  }

  /**
   * @bemelement Title
   *
   * Optional element. It inherits style from [mixin-responsive-grid-row] and from [heading-2].
   */
  &__title {
    @include heading($level: 1);
  }

  /**
   * @bemelement Subtitle
   *
   * Optional element. It inherits style from [mixin-responsive-grid-row] and from [heading-3].
   */
  &__subtitle {
    @include heading($level: 2);

    .panorama__title + & {
      margin-top: $spacer;
    }
  }
}
