mixin tabs(tabs, activeIndex)
  - tabs = tabs || []
  .tabs
    each tab, tabIndex in tabs
      a.tabs__item(
        href='#' + tab.id
        class=tabs.length!==2 ? 'tabs__item--'+tabs.length : ''
        class=tab.isActive || tabIndex === activeIndex ? 'tabs__item--selected' : ''
      )= tab.label

mixin tabsContainer
  .tabs__container
    block

mixin tab(id, isActive)
  #{attributes.type ? attributes.type : 'div'}.tabs__content(
    id=id
    class=isActive ? 'tabs__content--active' : ''
  )&attributes(attributes)
    block
