/**
 * @bem molecule-tabs Tabs
 * @parent styleguide-molecules
 * @depends shared-vars, shared-modifiers, shared-typography
 *
 * `.tabs` is a molecule that helps to switch between items in a container. It definitely needs Javascript to be useful,
 * though.
 *
 * @iframe demos/molecules/tabs/tabs.demo.html
 * @iframe demos/molecules/tabs/tabs.html
 */
@import "foundation";

@import "../../shared/modifiers";
@import "../../shared/typography";
@import "../../shared/vars";

/**
 * @bemblock Tabs
 */
.tabs {
  @include grid-row;

  /**
   * @bemelement Item
   *
   * By default (Eg.: no modifiers are used), it assumes there are two tabs, each with a 50% width.
   */
  &__item {
    @include grid-column(1 of 2, 0);

    @include text-truncate;

    @include typography(tabs);

    background-color: $color-bg-transparent-lighter;
    color: $white;
    display: block;
    line-height: $spacer;
    margin: 0;
    padding: ($spacer / 2) 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    /**
     * @bemmodifier Selected
     *
     * It's applied when, well... a tab gets clicked/selected.
     */
    &--selected {
      background-color: $color-bg-transparent-darker;
      color: $primary-blue-main;
      cursor: default;
    }

    /**
     * @bemmodifier Single column
     *
     * One single tab item.
     */
    &--1 {
      @include grid-column(1 of 1, 0);
    }

    /**
     * @bemmodifier Three columns
     *
     * Three tab items
     */
    &--3 {
      @include grid-column(1 of 3, 0);
    }
  }

  /**
   * @bemelement Content
   */
  &__content {
    // Hack: http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/ -- C
    background-clip: content-box;
    margin-bottom: -5px; // inline-block...
    margin-top: -15rem;
    margin-top: -25vh;
    max-width: 100%;
    padding-top: 15rem;
    padding-top: 25vh;
  }
}

.tabs__container > .tabs__content {
  display: none;
}

.tabs__container .tabs__content--active {
  display: inline-block;
}
