/**
 * @bem atom-select Select box
 * @parent styleguide-atoms
 * @depends shared-vars, atom-form
 *
 * @iframe demos/atoms/select/select.html
 * @iframe demos/atoms/select/select.demo.html
 */
@import "foundation";

@import "../../shared/vars";

@import "../form/form";

$input-line-height: map-get(map-get($typo-text, input), line-height);
$input-font-size: map-get(map-get($typo-text, input), font-size);

/**
 * @bemblock Basic select box
 */
.select {
  @include typography(input, $explicit-height: true);

  appearance: none;
  background: $white asset-url("blacklane-apollo/images/arrow-dropdown.svg") no-repeat 100% center;
  background-origin: content-box;
  border: 1px solid $gray-border;
  border-radius: 0;
  line-height: 1.25;
  padding: $spacer/4 $spacer/2;
  width: 100%;

  /**
   * @bemmodifier Inlined select
   */
  &--inline {
    display: inline-block;
    padding: $spacer/4 $spacer/2;
    width: auto;
  }
}
