mixin select(options, placeholder, isInline)
  select.select(class=isInline ? 'select--inline' : '')&attributes(attributes)
    if placeholder
      option(disabled, selected, value=null)= placeholder
    if options
      each option in options
        option(
          value=typeof option.value !== 'undefined' ? option.value : option.label,
          selected=option.isSelected,
          disabled=option.isDisabled
        )= option.label
