include ../organisms/booking-widget/booking-widget.pug
-
  const bookingFormData = {
    "background": "https://s3-us-west-2.amazonaws.com/s.cdpn.io/86559/london-header.jpg",
    "title": { 
      "content": "<em>Blacklane</em> in Ulan Bator"
    },
    "fields": {
      "departure": {
        "label": "Departure",
        "placeholder": "From: address, airport, hotel...",
        "errors": {
          "addressInvalid": "Add a house number"
        }
      },
      "arrival": {
        "label": "Arrival",
        "placeholder": "To: address, airport, hotel...",
        "errors": {
          "addressInvalid": "Add a house number"
        }
      },
      "duration": {
        "label": "Duration",
        "placeholder": "Duration"
      },
      "date": {
        "label": "Date"
      },
      "time": {
        "label": "Time",
        "step": 300
      }
    },
    "tabs": [
      {
        "id": "oneway",
        "isActive": true,
        "label": "One way",
        "bookingActionUrl": "/en/booking_requests/transfers/new"
      },
      {
        "id": "hourly",
        "label": "Hourly",
        "bookingActionUrl": "/en/booking_requests/hourlies/new"
      }
    ],
    "startBookingLabel": "Book a ride"
  }

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='author', content= 'www.blacklane.com')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Trial task
    link(rel='stylesheet', href='https://www.blacklane.com/persephone-assets/css/bundle.css?build=41905310')
    script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=default,NodeList.prototype.@@iterator,Array.prototype.@@iterator|always|gated', defer=true)
    script(src='https://www.blacklane.com/persephone-assets/js/bundle.js?build=41905310', defer=true)
    block head

  body
    +bookingWidget(bookingFormData)
