include ./input-field

if field
  +inputField(field, shrinkIfBig)
if fieldWithBlock
  +inputField(fieldWithBlock, shrinkIfBig)
    select(id=fieldWithBlock.id)

script.
  (() => {
    const element = document.currentScript
      .previousElementSibling.querySelector( 'input' )
    if ( element ) {
      element._component = new apollo.Input( element )
    }
  })()
