mixin inputFieldContainer(field, shrinkIfBig)
  .input-field(
    class=shrinkIfBig ? 'input-field--shrink' : ''
    class=(field.type === 'radio' || field.type === 'checkbox') ? 'input-field--grouped' : ''
  )
    if field.type !== 'radio'
      label.accessibility(for=field.id)= field.label
    block

mixin inputElement(field)
  -
    errors = field.errors || {}
    errorAttributes = {}
    for (var error in errors) {
      // camelCase to dash-case
      errorAttribute = 'data-error-' + error.replace(/\W+/g, '-').replace(/([a-z\d])([A-Z])/g, '$1-$2').toLowerCase()
      errorAttributes[errorAttribute] = errors[error]
    }
    if (field.checked) {
      attributes.checked = true
    }
  input(
    id=field.id
    name=field.name || field.id
    placeholder=field.placeholder
    type=field.type
    required=field.required
    step=field.step
    disabled=field.disabled
  )&attributes(attributes)&attributes(errorAttributes)

mixin inputRadioElement(field)
  each option in field.options
    label.input-field__radio
      +inputElement({
        type: field.type,
        name: field.name,
        id: option.id,
        value: option.value,
        checked: option.selected,
        disabled: option.disabled
      })&attributes({
        'class': 'input-field__radio-element'
      })
      = option.label

mixin inputField(field, shrinkIfBig)
  -
    field = field || {}
    if ( !field.name && attributes.name ) {
      field.name = attributes.name
    }
    if ( !field.id && attributes.id ) {
      field.id = attributes.id
    }
  +inputFieldContainer(field, shrinkIfBig)
    if block
      block
    else if field.type === 'radio'
      +inputRadioElement(field)&attributes(attributes)
    else
      +inputElement(field)&attributes(attributes)
