/**
 * @bem atom-input-field Input field
 * @parent styleguide-atoms
 * @depends shared-vars, atom-form
 *
 * Note on error messages:
 * They will be set as attributes on the container(.input-field)
 * not the input element, and they follow the data-error-* pattern.
 *
 * @iframe demos/atoms/input-field/input-field.html
 * @iframe demos/atoms/input-field/input-field.demo.html
 */
@import "foundation";

@import "../../shared/vars";

@import "../form/form";

/**
 * @bemblock Input Field
 */
.input-field {
  @include grid-col;

  @include typography(input);

  display: flex;
  margin: map-get($grid-column-gutter, small) 0 0;
  position: relative;

  @include breakpoint(narrow) {
    margin-top: map-get($grid-column-gutter, narrow);
  }
  @include breakpoint(medium) {
    margin-top: map-get($grid-column-gutter, medium);
  }
  @include breakpoint(wide) {
    margin-top: map-get($grid-column-gutter, wide);
  }

  /**
   * @bemmodifier Shrink
   */
  &--shrink {
    @include breakpoint(medium) {
      @include grid-col(50%);
    }
  }
  
  /**
   * @bemmodifier Grouped
   */
  &--grouped {
    display: block;
  }

  /**
   * @bemelement Radio group
   */
  &__radio {
    align-items: center;
    display: flex;
  }
  &__radio-element {
    flex: 0 0 $spacer;
    margin-right: $spacer / 2;
  }
}
