/**
 * @bem molecule-media-object Media object
 * @parent styleguide-molecules
 * @depends shared-vars, shared-typography, atom-icon
 *
 * This is a molecule that shows a generic centred image with a text (caption, heading, you name it) right
 * after that.
 *
 * @iframe demos/molecules/media-object/media-object.demo.html
 * @iframe demos/molecules/media-object/media-object.html
 */
@import "../../shared/typography";
@import "../../shared/vars";

@import "../../atoms/icon/icon";

/**
 * @bemblock Media Object
 *
 * `.media-object` is the media object container. It has a `--flat` modifier, which takes the margins away (to be used
 * eg. when nested in other containers)
 */
.media-object {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: $spacer auto;
  text-align: center;

  @include breakpoint(medium) {
    max-width: 50rem;
  }

  @include breakpoint(wide) {
    max-width: 80rem;
  }

  /**
   * @bemmodifier Flat
   *
   * Cleans up the vertical margins.
   */
  &--flat {
    margin: 0 auto;
  }

  /**
   * @bemmodifier Inline flow
   *
   * Changes the media object flow from a block/column order to an inlined/row one.
   */
  &--inline {
    margin: $spacer * 3 0;

    @include breakpoint(medium) {
      flex-direction: row;
      text-align: left;
    }

    &:nth-child(even) {
      background: $gray-light;
      margin: 0;
      padding: $spacer * 3 0;
    }
  }

  /**
   * @bemmodifier Inline flow
   *
   * Changes the media object flow from a block/column order to an inlined/row one, in the reverse order compared to the writing direction set by the browser.
   */
  &--inline-reverse {
    @include breakpoint(medium) {
      flex-direction: row-reverse;
      text-align: left;
    }
  }

  /**
   * @bemelement Picture
   *
   * Makes an image round, with a fixed width/height (1:1 ratio).
   */
  &__picture {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    min-width: $spacer * 2;

    /**
     * @bemmodifier Rounded
     */
    &--rounded {
      border-radius: 50%;
      height: $spacer * 5;
      width: $spacer * 5;
    }

    /**
      * @bemmodifier Outstanding
      *
      * It makes the picture bigger, and it gets some padding around it. It requires the [media-object-picture-rounded] to work decently.
      */
    &--outstanding {
      height: 33%;
      width: 33%;

      @include breakpoint(medium) {
        flex: 0 1 33%;
      }

      @include breakpoint(wide) {
        flex: 0 1 25%;
        height: 25%;
        width: 25%;
      }
    }
  }

  &__content {
    flex: 0 1 60%;
  }

  /**
   * @bemelement Title
   *
   * `.media-object_title` acts as media object's title.
   *
   * It may be followed by [media-object-description].
   */
  &__title {
    @include heading($level: 3);
    padding: $spacer $spacer ($spacer / 4);

    /**
      * @bemmodifier Highlighted
      *
      * It gives the title an under line and the [heading-3].
      */
    &--highlighted {
      @include heading($level: 3);

      border-bottom: 1px solid $gray-border;
      display: inline-block;
      padding: $spacer $spacer ($spacer / 4);
    }

    /**
     * @bemmodifier Heading
     *
     * This type of title serves as a section heading.
     */
    &--heading {
      @include heading($level: 1);

      .media-object--flat & {
        margin-bottom: 0;
      }

      border: 0 none;
      text-transform: uppercase;
    }
  }

  /**
    * @bemelement Icon
    */
  &__icon {
    display: inline-block;
    padding-right: $spacer / 2;
  }

  /**
   * @bemelement Caption
   *
   * `.media-object__caption` acts as image caption. Anything inside an `<em>` is automatically uppercased.
   *
   * It is used as alternative to [media-object-title] & [media-object-description] combo.
   */
  &__caption {
    em {
      text-transform: uppercase;
    }
    @include heading($level: 3);
  }
}
