include ../../atoms/icon/icon.pug

mixin mediaObjectContainer(media, isFlat)
  -
    media = media || {}
    var pic = media.picture || {}
    var absoluteRegexp = new RegExp('^(http:|https:)?(\/\/)')
    var picSrc = pic.src || ''
    var picHiResSrc = pic.hiResSrc || ''

    picSrc = picSrc && picSrc.search( absoluteRegexp ) < 0 ? assetsPrefix + picSrc : picSrc
    picHiResSrc = picHiResSrc && picHiResSrc.search( absoluteRegexp ) < 0 ? assetsPrefix + picHiResSrc : picHiResSrc

  .media-object(
    class=(media.flatten || isFlat) ? 'media-object--flat' : ''
    class=(media.flow === 'inline') ? 'media-object--inline' : ''
    class=(media.flow === 'inline-reverse') ? 'media-object--inline media-object--inline-reverse' : ''
  )
    if picSrc || picHiResSrc
      img.media-object__picture(
        src=picSrc || null
        srcset=picHiResSrc ? picHiResSrc + ' 2x' : null
        class=pic.rounded ? 'media-object__picture--rounded' : ''
        class=pic.outstanding ? 'media-object__picture--outstanding': ''
        alt=pic.description
      )/
    if block
      .media-object__content
        block

mixin mediaObjectTitle(title)
  -
    title = title || {}
    var titleContent = typeof title === 'string' ? title : title.content

  #{attributes.tag ? attributes.tag : 'div'}(
    id=attributes['id']
    class=title.caption ? 'media-object__caption' : 'media-object__title'
    class=title.heading ? 'media-object__title--heading' : ''
    class=title.highlighted ? 'media-object__title--highlighted' : ''
    class!=attributes['class']
  )
    if titleContent
      | !{titleContent}
    else if block
      block

mixin mediaObjectDescription(description)
  .media-object__description(
    class!=attributes['class']
  )
    if typeof description === 'string'
      != md(description || '')
    else if typeof description === 'object'
      each element, type in description
        +icon('before', type)(
          class='media-object__icon'
        )= element
    else if block
      block

mixin mediaObject(media)
  - media = media || {}
  +mediaObjectContainer(media)
    if media.title
        +mediaObjectTitle(media.title)(
          tag!=attributes['title-tag']
          id!=attributes['title-id']
          class!=attributes['title-class']
        )
    if media.description
      +mediaObjectDescription(media.description)
    
