/**
 * @bem molecule-road Road grid
 * @parent styleguide-molecules
 * @depends shared-vars, shared-typography
 *
 * It is a molecule that takes care of showing informations in a multi-column fluid grid.
 *
 * @iframe demos/molecules/road/road.demo.html
 * @iframe demos/molecules/road/road.html
 */
@import "foundation";

@import "../../shared/typography";
@import "../../shared/vars";

/**
 * @bemblock Road
 */
.road {
  margin: $spacer 0;

  /**
    * @bemmodifier Reversed colour scheme, inverting margins with paddings.
    */
  &--reverse {
    background-color: $color-bg-transparent-darker;
    color: $white;
    margin: 0;
    padding: $spacer / 2;
  }

  /**
    * @bemmodifier Remove all the margins, stretch it to the maximum possible size.
    */
  &--stretch {
    height: 100%;
    width: 100%;
  }

  &__crossing,
  &__passage {
    text-align: center;
    text-transform: uppercase;
  }

  /**
   * @bemelement Crossing
   *
   * Grid heading. Even if there are columns, this element takes up the full width of the column.
   * It uses [heading-4] typo set.
   */
  &__crossing {
    @include heading($level: 1);

    /**
     * @bemmodifier With passage
     *
     * It applies [heading-3].
     */
    &--with-passage {
    }
  }

  /**
   * @bemelement Passage
   */
  &__passage {
    @include heading($level: 2);
  }

  /**
   * @bemelement Carriage way
   *
   * Columns container.
   */
  &__carriageway {
    @include grid-row;

    text-align: center;
  }

  /**
   * @bemelement Lane
   *
   * Each column is represented by this element.
   */
  &__lane {
    @include grid-column;
    box-sizing: border-box;

    & ~ .road__lane {
      margin-top: $spacer * 1.5;
    }

    /**
     * @bemmodifier Two lanes
     */
    &--2 {
      @include breakpoint(medium) {
        @include grid-column(1 of 2);

        & ~ .road__lane {
          margin-top: 0;
        }
      }
    }

    /**
     * @bemmodifier Three lanes
     */
    &--3 {
      @include breakpoint(wide) {
        @include grid-column(1 of 3);

        & ~ .road__lane {
          margin-top: 0;
        }
      }
    }

    /**
     * @bemmodifier Four lanes
     */
    &--4 {
      @include breakpoint(wide) {
        @include grid-column(1 of 4);

        & ~ .road__lane {
          margin-top: 0;
        }
      }
    }
  }
}
