mixin road(heading)
  .road(class!=attributes['class'])
    .road__crossing !{heading}
    .road__carriageway
      if block
        block

mixin road__lane(cols)
  .road__lane(class='road__lane--' + cols)
    if block
      block
