include ./booking-widget

+bookingWidget(bookingFormData)

script.
  (() => {
    const bookingWidget = document.currentScript.previousElementSibling
    bookingWidget._component = new apollo.BookingWidget(
      bookingWidget,
      apollo.mocks.fakeAtlas()
    )
  })()
