/**
 * @bem organism-booking-widget Booking Widget
 * @parent styleguide-organisms
 * @depends shared-vars, shared-responsive-grid, molecule-address-lookup, molecule-date-time-picker, molecule-dropdown, molecule-panorama, molecule-tabs, molecule-time-input
 *
 * Booking widget component.
 *
 * @iframe demos/organisms/booking-widget/booking-widget.demo.html
 * @iframe demos/organisms/booking-widget/booking-widget.html
 */
@import "foundation";

@import "../../shared/responsive-grid";
@import "../../shared/vars";

@import "../../molecules/address-lookup/address-lookup";
@import "../../molecules/date-time-picker/date-time-picker";
@import "../../molecules/dropdown/dropdown";
@import "../../molecules/panorama/panorama";
@import "../../molecules/tabs/tabs";
@import "../../molecules/time-input/time-input";

/**
 * @bemblock Booking widget
 */
.booking-widget {
  /**
   * @bemelement Title
   *
   * Title has no max width set, so it can stay on the very same line, even if it's longer than the responsive grid row.
   */
  &__title {
    @include responsive-grid-row($fixedWidthRow: true);
    max-width: none;
  }

  /**
    * @bemelement Container
    *
    * Main element holding the tabs and, eventually, an extra column.
    */
  &__container {
    @include responsive-flex-grid-row($fixedWidthRow: true);

    /**
    * @bemmodifier With an extra column
    *
    */
    &--with-extra-col {
      @include responsive-flex-grid-row($fixedWidthRow: false);
    }
  }

  /**
    * @bemelement Column
    *
    * Child of [booking-widget-container], a column represents a, well, column of informations, be it either the tabs/booking form itself, or the extra content next to it.
    */
  &__column {
    @include flex-grid-column(100%);
    flex: 1 0 auto;

    @include breakpoint(wide) {
      .booking-widget__container--with-extra-col & {
        @include flex-grid-column;
        max-width: 50%;
      }
    }
  }

  /**
   * @bemelement Fieldset
   *
   * These paddings are halved because Foundation's grid-col, used by [input-field-shrink], adds the remaining half on the fields' edges.
   */
  &__fieldset {
    background-color: $color-bg-transparent-darker;
    min-width: 0;
    padding: 0 map-get($grid-column-gutter, small) / 2;

    @include breakpoint(narrow) {
      padding: 0 map-get($grid-column-gutter, narrow) / 2;
    }
    @include breakpoint(medium) {
      padding: 0 map-get($grid-column-gutter, medium) / 2;
    }
    @include breakpoint(wide) {
      padding: 0 map-get($grid-column-gutter, wide) / 2;
    }
  }

  /**
   * @bemelement Submit button
   */
  &__submit {
    @include grid-col;

    margin: map-get($grid-column-gutter, small) 0;

    @include breakpoint(narrow) {
      margin: map-get($grid-column-gutter, narrow) 0;
    }
    @include breakpoint(medium) {
      margin: map-get($grid-column-gutter, medium) 0;
    }
    @include breakpoint(wide) {
      margin: map-get($grid-column-gutter, wide) 0;
    }
  }

  /**
    * @bemelement Input field
    *
    * Resetting the margin on input field since it's handled by the [booking-widget-submit] element. There's also the need to reset the max-width here since the button has to span all over the widget.
    */
    &__input-field {
      margin: 0;
      max-width: 100%;
    }
}
