include ../../atoms/input-field/input-field.pug
include ../../molecules/dropdown/dropdown.pug
include ../../molecules/panorama/panorama.pug
include ../../molecules/road/road.pug
include ../../molecules/tabs/tabs.pug
include ../../molecules/time-input/time-input.pug

mixin bookingWidget(bookingData)
  -
    var bookingFields = bookingData.fields || {}
    var contentClass = 'booking-widget__container'
    if ( bookingData.extraContent ) {
      contentClass += ' booking-widget__container--with-extra-col'
    }

  +panorama(bookingData.background, bookingData.title)(
    title-id='booking-form-title'
    title-tag='h1'
    title-class='booking-widget__title'
    content-class=contentClass
    container-class='panorama--huge'
  )
    if bookingData.tabs
      .booking-widget__column
        +tabs(bookingData.tabs)
        +tabsContainer(bookingData.tabs)
          each bookingTab in bookingData.tabs.reverse()
              +tab(bookingTab.id, bookingTab.isActive)(
                type='form'
                class='booking-widget__form'
                action=bookingTab.bookingActionUrl
                accept-charset='UTF-8'
                name='booking_request_form'
                role='search'
              )
                fieldset.booking-widget__fieldset(name=bookingTab.id)
                  input(type='hidden', name='utf8', value='✓')
                  input(type='hidden', id=bookingTab.id + '-pickup_uuid' name='booking_request[pickup_uuid]', data-name='pickupUUID')
                  input(type='hidden', id=bookingTab.id + '-pickup_airport_iata' name='booking_request[pickup_airport_iata]', data-name='pickupIATA')
                  input(type='hidden', id=bookingTab.id + '-pickup_place_id' name='booking_request[pickup_place_id]', data-name='pickupPlaceID')
                  input(type='hidden', id=bookingTab.id + '-dropoff_uuid' name='booking_request[dropoff_uuid]', data-name='dropoffUUID')
                  input(type='hidden', id=bookingTab.id + '-dropoff_airport_iata' name='booking_request[dropoff_airport_iata]', data-name='dropoffIATA')
                  input(type='hidden', id=bookingTab.id + '-dropoff_place_id' name='booking_request[dropoff_place_id]', data-name='dropoffPlaceID')
                  - bookingFields.departure.id = bookingTab.id + '-booking-departure'
                  +inputField(bookingFields.departure, true)(
                    autocomplete='off'
                    name='booking_request[pickup]'
                    data-name='pickup'
                    required
                  )
                  if bookingTab.id === 'oneway'
                    - bookingFields.arrival.id = bookingTab.id + '-booking-arrival'
                    +inputField(bookingFields.arrival, true)(
                      autocomplete='off'
                      name='booking_request[dropoff]'
                      data-name='dropoff'
                      required
                    )
                  else if bookingTab.id === 'hourly'
                    - bookingFields.duration.id = bookingTab.id + '-booking-duration'
                    +inputField(bookingFields.duration, true)(
                      name='booking_request[duration]',
                      data-name='duration'
                      required
                    )
                      +dropdown(bookingTab.dropdown)
                  - bookingFields.date.id = bookingTab.id + '-booking-departure-date'
                  +inputField(bookingFields.date, true)(
                    type='date'
                    name='booking_request[at_date]'
                    data-name='atDate'
                    required
                  )
                  - bookingFields.time.id = bookingTab.id + '-booking-departure-time'
                  +timeInput(bookingFields.time, true, 'keepBoth')(
                    class='show--small'
                    name='booking_request[at_time]'
                    data-name='atTime'
                  )
                  .booking-widget__submit
                    button.booking-widget__input-field(type='submit')= bookingData.startBookingLabel
    if bookingData.extraContent
      .booking-widget__column
        +road(bookingData.extraContent.heading)(
          class='road--stretch road--reverse'
        )
          +road__lane(1)
            = bookingData.extraContent.content
